.rightBlockInfoContainer {
  margin-bottom: 48px;
}

.rightBlockTitle {
  font-size: 27px;
  margin-bottom: 21px;
}

.rightBlockDate {
  opacity: 0.5;
  font-size: 16px;
}

.rightBlockList {
  padding-top: 10px;
}
