body {
  margin: 0;
  font-family: Ubuntu, sans-serif;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

.infoContainer {
  width: 990px;
  display: flex;
  flex-direction: row;
  margin: 45px auto 0px;
  font-size: 18px;
  line-height: 24px;
  white-space: pre-wrap;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    padding: 0 28px;
    max-width: 100%;
  }

  @media (max-width: 450px) {
    width: 100%;
    display: block;
  }
}
